body, html {	
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;	
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	overflow:hidden;	
}

div {
    box-sizing: border-box;
}	

a {	
	color: #3366CC;	
	text-decoration: none
}

#aexplorer {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;	
	min-width:660px;
	background:#222;
	padding-bottom:34px;
	overflow:visible;
}

#outer {
	width:100%;
	height:100%;
}

#topbar {
	width:100%;
	height:44px;
	padding-top:4px;
}

.insert {
    display:block;
    position:relative;
}

.insert:hover .comlist {
    display: block;
    position: absolute;
    left: 0;
	margin-left:-180px;
}


.comlist {
    all: unset;
    display: none;
    position: absolute;
    background: #ccc;
    color: #000;
    font-size: 12px;
    user-select: none;
    padding:8px;
    text-align: center;
    top: 24px;
    -left: calc(50% - 150px);
    z-index: 9999;
    width: 180px;
    min-height: 40px;
    border:6px solid rgba(180, 180, 180, 0.35);
    border-radius: 6px;
    overflow: visible;
    opacity:1;
    font-family: sans-serif;
    background:
        linear-gradient(135deg,
            #ffffff 0%,
            #d9d9d9 25%,
            #b5b5b5 50%,
            #e0e0e0 75%,
            #ffffff 100%
        ),
        radial-gradient(circle at top left,
            rgba(255,255,255,0.7),
            transparent 60%
        ),
        radial-gradient(circle at bottom right,
            rgba(0,0,0,0.3),
            transparent 70%
        );
    background-blend-mode: screen;
    box-shadow:
        inset 0 0 12px rgba(255,255,255,0.4),
        inset 0 0 20px rgba(0,0,0,0.3);
}


.comlist .item {
    padding: 2px;
    cursor: pointer;
}

.comlist a:hover {
    border-bottom:1px solid black;
}

.comlist .item a {
	color: blue;
}



#dirpane, #editpane, #optpane {
	margin:0px auto;	
	min-width:480px;
	width:100%;
	height:100%;
	padding:0 4px 48px 0;
	text-align:center;
}

#dirpane {
    display: flex;
    flex-direction: row;
}

#editpane {
	margin:0 8px 0 2px;
}



#statubar {
	height:32px;
	padding:2px 8px 0 2px;	
	margin-right:2px;
	background:#222;
}

#lpane, #rpane {
	display:inline-block;	
	width:49.6%;
	height:100%;	
	margin:0px;
	min-width:320px;
	text-align:left;
	background:#222;
	padding:0px 4px 74px 0;
}


#lcontent, #rcontent {
	display:flex;	
	flex-direction:column;
	width:100%;
	height:100%;
	min-height:128px;	
	border:1px solid #666;
	margin:4px;
	background:#000;
	padding-bottom:0px;
}

#lup, #rup {
	transform:scale(1.5,1);
}


#editor, #options {
	overflow:scroll;
	border:none;
	margin:none;
	padding:none;
	width:100%;
	height:100%;
	min-width:480px;
	min-height:320px;
}

.toolbar {
	display:flex;
	gap: 8px;
	margin:0px 0px 4px 0;
	padding:6px 0 0 8px;
	background-color:#333;	
	border-top:1px solid #666;
	border-left:1px solid #666;	
	border-right:1px solid #111;	
	border-bottom:1px solid #111;		
	border-radius:4px;
	box-shadow:inset 6px 6px 8px rgba(64,64,64,.6), inset -4px -4px 8px rgba(32,32,32,.2), 2px 2px 4px #444;
}

.tbright {
	margin-left:auto;
	margin-right:16px;
    display: flex;
	gap:8px;
    align-items: center;	
}


.tbicon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;  
    position: relative;
    font-size: 16px; 
	background: #444; 
	cursor: pointer;
	padding:4px;
	margin:4px 0 0 0;
	border: 1px solid #666;
	border-radius:3px;
}

.tbicon span {
    transform: scale(1.4);
    transform-origin: center;
    display: inline-block;
    line-height: 1;
	color:white;		
}

.tbicon:hover {
	background: #333;
	border: 1px solid #888;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;	
    transform: scale(1.2);
    transform-origin: center;
	color:orange;	
}

.tblabel {
    position: absolute;
    top: 35%;
    left: 35%;
    pointer-events: none; 
    font-size: 9px !important;
    color: black !important;
}

.tbelabel {
    position: absolute;	
	font-size:12px;
    left: 40%;	
	top: 50%;
}


.dirside {
    position: absolute;
    top: 15%;
}

.bkside {
	margin-top:3px;
}

.tblside {
    position: absolute;
    top: 25%;
    left: 25%;
    pointer-events: none; 
	text-shadow: 1px 1px 2px #888;
}

.tbrside {
    position: absolute;
    top: 40%;
    left: 50%;
    pointer-events: none;
}

.tbren {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;	
	font-size:10px;
}

/* quit */

.tbicon #tquit {
    display: inline-block;
    cursor: pointer;
}


.quit-svg rect {
    fill: white;
}

.quit-svg g {
    stroke: black;
}

/* --- Hover --- */
.tbicon:hover .quit-svg rect {
    fill: red;
}

.tbicon:hover .quit-svg g {
    stroke: black;
}



#spanedit {
    display: inline-block; 
    transform: scale(1.6);
    transform-origin: center;
}

.panicon {
	height:28px;
	width:28px;
	vertical-align:middle;
	font-size: 20px;	
	color:lightgreen;	
	display: inline-block;
	cursor: pointer;
	padding:0px;
	margin:4px 0 0 8px;
	text-align:center;
  	border-radius:3px;
}

.panicon:hover {
	background: #333;
	border: 1px solid #888;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

.toolpane {
	display:flex;
  	align-items: center;
	gap: 6px;
	height:32px;
	margin:0 -3px 4px 4px;	
	padding:0;
	background-color:#333;	
	border-top:1px solid #666;
	border-left:1px solid #666;	
	border-right:1px solid #111;	
	border-bottom:1px solid #111;		
	border-radius:4px;
	box-shadow:inset 6px 6px 8px rgba(64,64,64,.6), inset -4px -4px 8px rgba(32,32,32,.2), 2px 2px 4px #444;
}

#lreload, #rreload {
	padding-top:2px!important;
}

.etool {
	width:48px;
	height:48px;
	margin:1px;
}


.filechooser {
	display:block;
	color:#FFF;
 	background:#333;
	width:100%;
	height:100%;	
	text-align:left;
	overflow-x: auto; 
	overflow-y: scroll;	
	font-size:13px;
	margin:0px;	
}

.filechooser {
    scrollbar-width: auto;
    scrollbar-color: #444 #111; 
}


.flist {
	margin:8px;
	padding: 0 8px 0 0;
}

.flist:focus {
	outline:none;
}

.file, .dir {
	line-height:18px;
	display:inline-block;
	border:1px solid #333;
	border-radius:3px;	
	margin:1px 1px 1px 1px;
	padding:0px 6px 0px 0px;	
	width:100%;
}

.ficon {
	display: inline-block;
	min-width: 32px !important;
	text-align:center;
	font-size:14px;
}

.timesize {
	float:right;
}

.dir:hover, .file:hover {
	border:1px dotted lightgreen;
	background-color: #444;
}

.entrybold, .entrybold:hover {
	line-height:18px;
	display:inline-block;
	margin:1px 1px 1px 1px;
	padding:0px 6px 0px 0px;	
	width:100%;
  	border:1px dotted white;
	background-color: #444;
	border-radius:3px;
}

.fsroot {
	float:left;
	width:26px;
	height:26px;
	padding:2px 2px 0 8px;
	position:relative;
}

.fsimg {
	width:22px;
	height:22px;
}

.fullpath, #outerstatus {
	height:26px;
	width:100%;
	padding:0px;
	border:1px solid #666;
	background:#333;
	display:block;
	margin:0 8px 0 4px;
}

.innpath, #status {
	margin:3px 4px 2px 8px;
	width:96%;
	line-height:18px;	
	font-size:14px;
	border:none;
	padding:0;
	background:#333;
	display:block;
	color:white;
}

.innpath {
  	width:92%;
}

.fstar {
  	position:relative;	
	margin-left:auto;
	color:white;
}

.fstar:hover {
	color:orange;
}

.fstar.active {
  color: gold;
  transform:scale(1.5);
  transform-origin: center center;
}

.fspath {
	display:flex;
  	align-items: center;
	padding-left: 8px;
	padding-right: 8px;
	margin:0, 8px, 0, 8px;	
}

.farrow {
    display: inline-block;
	margin-top:4px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
	color:white;
}

.farrow:hover {
	color:orange;
}

.recent-popup {
	all: unset;
    position: absolute;
    background: #444;
	color:#ccc;
    border: 1px solid #999;
	margin-left:-10px;
	width:200px;
    box-shadow: 2px 2px 4px #666;
    padding: 8px;
    z-index: 9999;
}

.recent-item {
	margin:2px;
	padding:0;
	font-size:13px;
    cursor: pointer;
}
.recent-item:hover {
	color:orange;
}


.recent-footer {
    display: flex;
    justify-content: flex-end; 
}

.recent-clear-btn {
    cursor: pointer;
    padding: 6px 10px;
    font-size: 13px;
    color: #ccc;
    background: #444;
    border: 1px solid #ccc;
}
.recent-clear-btn:hover {
    color:orange;
}


.lstats {
  	float:left;
}

.rstats {
  	float:right;
}


.divimage {
  	overflow:hidden;
  	margin:auto;
  	padding:0;
  	width:auto;
  	height:auto;
  	box-sizing:border-box;
}


.bmlist {
	display:none;
	position:absolute;
	top:29px;
	left:0;
	width:80px;
	height:auto;
	padding:8px 2px 8px 2px;
	margin:0px;
	background:#333;
    color:#CCC;
	overflow:hidden;
	border:1px dotted #ccc;
	border-radius:4px;
}

.bmlist p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
    line-height: 16px;
    font-family: Arial, Tahoma, sans-serif;
    border: 1px dotted #333;
    border-radius: 4px;
    color: white;
}


.bmlist p:hover {
	color:orange;
	font-size:15px;
}

/* Conteneur icône + texte */
.drive-item {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
}

/* Icône disque */
.icodsk {
  	position: absolute;
  	inset: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;  
  	font-size: 40px;
  	text-align: center;
	opacity:0.5;
}

/* Nom de l’item centré sur l’icône */

.bmname {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
  margin-top: 4px;
  -webkit-text-stroke: 0.8px black;
  text-shadow: 1px 0px 0 black, -1px 0px 0 black, 0px 1px 0 black, 0px -1px 0 black;
}


.recname {
	display:inline-block;
	padding-left:16px;
}

.ctxmenu, .dblctx {
	position:absolute;	
  	width: 128px;
  	height:auto;
  	min-height:40px;
  	padding: 8px;
  	margin:0;
	border: 1px solid #CCC;
	color:#FFF;
  	background: #666;
  	box-shadow: 2px 2px 2px #AAA;
  	z-index:1000;
  	overflow: visible;
  	font-weight:normal;
}

.dblctx {
	position:relative;
	display:block;
}

.ctxline {
	display:block;
	margin:0px;
	padding:2px 2px 2px 8px;
	border:1px solid #666;
	border-radius:3px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	overflow:visible;
}
.ctxline:hover {
	border:1px solid #CCC;
	background-color: #333;
	color:#FFF;
	-background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	-background-image: linear-gradient(top, #ffffff, #e6e6e6);
	-background-repeat: repeat-x;
	font-size:15px;
	font-weight:bold;
}  


/* Dynamic dialog under icon */

.icoprompt {
    display:block;
    position:relative;
    font-family: Arial,serif;
}

/*
.image {
	position: relative; 
	height:32px; 
	width:32px; 
	border:none;
    margin:0;
}
*/	

.icoprompt h3 {
    margin:0;
    padding:3px 3px 1px 0;
    margin-bottom:4px;
    background: #E8E8E8;
    color:#666;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    border-bottom:1px solid #ccc;
}

.icoprompt p {
	display:inline-block;
	padding:0 8px 0 8px;
	text-align:center;
}

button {
	border-radius: 4px;
    color: white;
    padding: 2px 8px;
	margin-top:2px;
	margin-left:8px;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

.gray {
    --btn-color: #454545; 
    background: var(--btn-color);
    border-top: 2px solid color-mix(in srgb, var(--btn-color) 80%, white);
    border-left: 2px solid color-mix(in srgb, var(--btn-color) 80%, white);
    border-bottom: 2px solid color-mix(in srgb, var(--btn-color) 70%, grey);
    border-right: 2px solid color-mix(in srgb, var(--btn-color) 70%, grey);
}

.gray:hover {
    border-top: 2px solid color-mix(in srgb, var(--btn-color) 70%, grey);
    border-left: 2px solid color-mix(in srgb, var(--btn-color) 70%, grey);
    border-bottom: 2px solid color-mix(in srgb, var(--btn-color) 80%, white);
    border-right: 2px solid color-mix(in srgb, var(--btn-color) 80%, white);
    transform: translateY(1px);
}

.blue {
    --btn-color: #0078d4; 
    background: var(--btn-color);
    border-top: 2px solid color-mix(in srgb, var(--btn-color) 80%, white);
    border-left: 2px solid color-mix(in srgb, var(--btn-color) 80%, white);
    border-bottom: 2px solid color-mix(in srgb, var(--btn-color) 70%, grey);
    border-right: 2px solid color-mix(in srgb, var(--btn-color) 70%, grey);
}

.blue:hover {
    border-top: 2px solid color-mix(in srgb, var(--btn-color) 70%, grey);
    border-left: 2px solid color-mix(in srgb, var(--btn-color) 70%, grey);
    border-bottom: 2px solid color-mix(in srgb, var(--btn-color) 80%, white);
    border-right: 2px solid color-mix(in srgb, var(--btn-color) 80%, white);
    transform: translateY(1px);
}


.icoelem {
	display:inline-block;
	line-height:18px;
}

#sDialog {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-radius:6px;
	background: #333;
	color: white;
    padding:16px;
} 

#sDialog p {
    margin-left:16px;
    font-weight: bold;
}

#sDialog menu {
    text-align:center;
    padding:0;
    margin:8px;
} 

#sDialog button {
    width:96px;
    margin:0 2px 0 2px;
	background:#666;
	color:white;
} 

.modal-dialog {
    border: 1px solid #666;
    border-radius: 8px;
    color: #e0e0e0;
    width: 480px;
	padding:0;
}

.modal-content {
	background:#444;
    padding: 10px;	
}


.modal-dialog::backdrop {
    background:rgba(0, 0, 0, 0.4);
}

.modal-dialog input[type="text"] {
    background: black;
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
	width:330px;
    outline: none;
}

.modal-dialog input[type="text"]:focus {
    border-color: #0078d4; /* Liseré bleu au focus */
}


.modal-dialog label {
    font-size: 14px;
    color: #bbb;
}