body, html {	
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;	
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	overflow:hidden;	
}

div {
    box-sizing: border-box;
}	

a {	
	color: #3366CC;	
	text-decoration: none
}

#aexplorer {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;	
	min-width:660px;
	background:#222;
	padding-bottom:34px;
	overflow:visible;
}

#outer {
	width:100%;
	height:100%;
}

#topbar {
	width:100%;
	height:44px;
	padding-top:4px;
}

#dirpane, #editpane, #optpane {
	margin:0px auto;	
	min-width:480px;
	width:100%;
	height:100%;
	padding:0 4px 48px 0;
	text-align:center;
}

#statubar {
	height:32px;
	padding:2px 8px 0 2px;	
	margin-right:2px;
	background:#222;
}

#lpane, #rpane {
	display:inline-block;	
	width:49.6%;
	height:100%;	
	margin:0px;
	min-width:320px;
	text-align:left;
	background:#222;
	padding:0px 4px 74px 0;
}


#lcontent, #rcontent {
	float:left;
	display:block;	
	width:100%;
	height:100%;
	min-height:128px;	
	border:1px solid #666;
	margin:4px;
	background:#000;
	padding-bottom:0px;
}

#editpane {
	margin:0 8px 0 2px;
}

#editor, #options {
	overflow:scroll;
	border:none;
	margin:none;
	padding:none;
	width:100%;
	height:100%;
	min-width:480px;
	min-height:320px;
}

.toolbar {
	margin:0px 0px 4px 0;
	padding:0px;
	background-color:#333;	
	border-top:1px solid #666;
	border-left:1px solid #666;	
	border-right:1px solid #111;	
	border-bottom:1px solid #111;		
	border-radius:4px;
	box-shadow:inset 6px 6px 8px rgba(64,64,64,.6), inset -4px -4px 8px rgba(32,32,32,.2), 2px 2px 4px #444;
}

.toolpane {
	margin:0 -3px 4px 3px;
	height:36px;
}

.etool {
	width:48px;
	height:48px;
	margin:1px;
}

.alignright {
	float:right;
	margin-right:8px;
}

.filechooser {
	display:block;
	color:#FFF;
 	background:#333;
	width:100%;
	height:100%;	
	text-align:left;
	overflow-x: auto; 
	overflow-y: scroll;	
	font-size:13px;
	-webkit-user-select: none;
	margin:0px;	
}

.flist {
	margin:8px;
	padding: 0 8px 0 0;
}

.flist:focus {
	outline:none;
}

.file, .dir {
	line-height:18px;
	display:inline-block;
	border:1px solid #333;
	border-radius:3px;	
	margin:1px 1px 1px 1px;
	padding:0px 6px 0px 0px;	
	width:100%;
	background-image:none;  
}

.dir img, .file img, .entrybold img {
	float:left;
	width:24px;
	height:18px;
	margin-right:8px;
}

.dir:hover, .file:hover {
	border:1px dotted #ccc;
	background-color: #333;
	-background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	-background-image: linear-gradient(top, #ffffff, #e6e6e6);
	-background-repeat: repeat-x;

}

.entrybold, .entrybold:hover {
	line-height:18px;
	display:inline-block;
	margin:1px 1px 1px 1px;
	padding:0px 6px 0px 0px;	
	width:100%;
  	border:1px dotted #FFF;
	background-color: #333;
	-background-image: -webkit-linear-gradient(top, #E0F0FF, #B0DEF2);
	-background-image: linear-gradient(top, #E0F0FF, #B0DEF2);
	-background-repeat: repeat-x;
	border-radius:3px;
		
}

.fsroot {
	float:left;
	width:26px;
	height:26px;
	padding:2px 2px 0 8px;
	position:relative;
}

.fsimg {
	width:22px;
	height:22px;
}

.fullpath, #outerstatus {
	height:26px;
	width:100%;
	padding:0px;
	border:1px solid #666;
	background:#333;
	box-shadow:inset -2px -2px 4px #666, inset 2px 2px 4px #000;  
	display:block;
	margin:0 8px 0 4px;
}

.innpath, #status {
	margin:3px 4px 2px 8px;
	width:96%;
	line-height:18px;	
	font-size:14px;
	border:none;
	padding:0;
	background:#333;
	display:block;
	color:white;
}

.innpath {
  	width:92%;
}

.fstar {
  	float:right;
  	width:18px;
  	height:18px;
  	position:relative;
  	top:0;  
}

.fspath {
	padding-left:32px;
  	padding-right:4px;
}

.lstats {
  	float:left;
}

.rstats {
  	float:right;
}

.timesize {
	float:right;
}

.divimage {
  	overflow:hidden;
  	margin:auto;
  	padding:0;
  	width:auto;
  	height:auto;
  	box-sizing:border-box;
}

.icon, .ticon {
	border: 1px solid #ddd;
	border-color: transparent;
	display: inline-block;
	cursor: pointer;
	padding:0px;
	margin:0px 0 0px 0;
	text-align:center;
  	border-radius:3px;
}

.icon img, .ticon img {
	 height:32px;
	 width:32px;
}	

.ticon { height:34px; }
.icon { height:34px; }
.icon:hover, .ticon:hover
{
	color: #222;
	background: #333 linear-gradient(top, rgba(64,64,64,.3) 0%,rgba(32,32,32,.3) 100%); /* W3C */
	border: 1px solid #888;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

.bmlist {
	display:none;
	position:absolute;
	top:29px;
	left:0;
	width:360px;
	height:auto;
	padding:8px 2px 8px 2px;
	margin:0px;
	background:#333;
    color:#CCC;
	overflow:hidden;
	border:1px dotted #ccc;
	border-radius:4px;
}

.bmlist p {
	display:block;
    margin:2px 0 2px 0;
    padding:0 0 0 4px;
    overflow:hidden;
    font-size:13px;
	line-height:16px;
	font-family:Arial, Tahoma, sans-serif;
	border:1px dotted #333;
	border-radius:4px;
}

.bmlist p:hover {
	color:white;
	font-size:15px;
	border:1px dotted #999;	
}

.bmdel {
	display:inline-block;
	margin:0 8px 0 0;
	font-weight: bold;
	color:#333;
}

.bmdel:hover {
	color:#fff;
}

.bmname {
	display:inline-block;
}

.recname {
	display:inline-block;
	padding-left:16px;
}

.ctxmenu, .dblctx {
	position:absolute;	
  	width: 128px;
  	height:auto;
  	min-height:40px;
  	padding: 8px;
  	margin:0;
	border: 1px solid #CCC;
	color:#FFF;
  	background: #666;
  	box-shadow: 2px 2px 2px #AAA;
  	z-index:1000;
  	overflow: visible;
  	font-weight:normal;
}

.dblctx {
	position:relative;
	display:block;
}

.ctxline {
	display:block;
	margin:0px;
	padding:2px 2px 2px 8px;
	border:1px solid #666;
	border-radius:3px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	overflow:visible;
}
.ctxline:hover {
	border:1px solid #CCC;
	background-color: #333;
	color:#FFF;
	-background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	-background-image: linear-gradient(top, #ffffff, #e6e6e6);
	-background-repeat: repeat-x;
	font-size:15px;
	font-weight:bold;
}  

.tooltip {
  text-decoration:none;
  position:relative;
}

.tooltip span {
  display:none;
  border-radius:6px;
  color:white;
  background:black;
}

.tooltip span img {
  float:left;
  margin:24px 8px 8px 0;
}

.tooltip:hover span {
  display:block;
  position:absolute;
  top:16px;
  left:-300px;
  z-index:1000;
  width:auto;
  min-width:240px;
  max-width:320px;
  min-height:128px;
  border:1px solid #ccc;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
}

/* Dynamic dialog under icon */

.icoprompt {
    display:block;
    position:relative;
    font-family: Arial,serif;
}

.image {
	position: relative; 
	height:32px; 
	width:32px; 
	border:none;
    margin:0;
}

.icoprompt h3 {
    margin:0;
    padding:3px 3px 1px 0;
    margin-bottom:4px;
    background: #E8E8E8;
    color:#666;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    border-bottom:1px solid #ccc;
}

.icoprompt p {
	display:inline-block;
	padding:0 8px 0 8px;
	text-align:center;
}

.comlist, .closeForm {
    display:none;
}

.comlist, .openForm {
 	position:absolute;
  	top:24px;    
  	left:0;
	padding:0; 	  
  	z-index:1000;
	width:308px;    
	min-width:308px;    
    color:white;
    background:black;
    font-size:13px;
 	border:1px solid #CCC;
	border-radius:4px;	
	text-align:left;   
  	overflow:visible;
}

.openForm {
	display:block !important
}


.icoelem {
	display:inline-block;
	line-height:18px;
}

#pDialog {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-radius:6px;
    padding:16px 16px 16px 16px;
}    
#pDialog menu {
    text-align:right;
    padding:0;
    margin:12px 0 0 0;
} 
#pDialog button {
    width:64px;
} 

#sDialog {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-radius:6px;
    padding:16px;
} 

#sDialog p {
    margin-left:16px;
    font-weight: bold;
}

#sDialog menu {
    text-align:center;
    padding:0;
    margin:8px;
} 

#sDialog button {
    width:96px;
    margin:0 2px 0 2px;
} 
